<!-- spinner -->
<%- include('../partials/spinner.ejs') %>

<!-- video details -->
<!-- min-vh-100 bug for hiding footer when reloading -->
<section class="px-4 py-5 min-vh-100">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- main video -->
      <div class="col-lg-9 col-sm-12">
        <div class="card shadow-sm">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="false"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="<%= videoDetails.screenshot_url %>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="<%= videoDetails.screenshot_url %>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="<%= videoDetails.screenshot_url %>"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= videoDetails.title %></h5>
            <p class="card-text"><%= videoDetails.description %></p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
          <div
            class="
              card-footer
              text-muted
              d-flex
              gap-2
              justify-content-between
              align-items-center
            "
          >
            <!-- post author details -->
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <a
                href="/users/<%= videoDetails.username  %> "
                class="
                  d-inline-block
                  link-secondary
                  text-decoration-none
                  align-text-top
                "
              >
                <img
                  src="<%= videoDetails.profile_picture_url %> "
                  alt="mdo"
                  width="25"
                  height="25"
                  class="rounded-circle"
                />
                <%= videoDetails.username %>
              </a>
              <a href="#" class="link-secondary text-decoration-none"
                ><i class="bi bi-calendar-minus"></i> <%= videoDetails.date
                %></a
              >
            </div>

            <!-- edit and delete -->
            <div class="d-flex gap-3 justify-content-center align-items-center">
              <a href="#" class="link-secondary text-decoration-none"
                ><i class="bi bi-pencil"></i
              ></a>
              <a
                href="#"
                onclick="deleteVideo(this)"
                class="link-secondary text-decoration-none"
                ><i class="bi bi-trash"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- user's comment -->
      <%- include('../partials/auth/videos-comments.ejs') %>

      <!-- sign in to comment -->
      <%- include('../partials/auth/post-a-comment.ejs') %>

      <!-- recent video collection -->
      <%- include('../partials/recent-videos.ejs') %>
    </div>
  </div>
</section>
