<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./layouts/head.ejs') %>

  <!-- body -->
  <body class="d-flex flex-column min-vh-100 bg-light">
    <!-- header -->
    <%- include('./layouts/header.ejs') %>

    <!-- addPostModal -->
    <%- include('./partials/auth/add-video-modal.ejs') %>

    <!-- main -->
    <main class="flex-fill">
      <!-- body -->
      <%- body %>
    </main>

    <!-- footer -->
    <%- include('./layouts/footer.ejs') %>

    <!-- scripts -->
    <%- include('./layouts/scripts.ejs') %>
  </body>
</html>
